h1 {
  margin: 0;
  margin-top: -15px;
  padding: 0;
}

.dialogs {
  display: grid;
  grid-template-columns: 3fr 9fr;
}

.form_message {
  position: relative;
}

.send_message {
  width: 90%;
  height: 50px;
  padding-right: 60px;
  font-size: 16px;
  background-color: rgba(235, 227, 227, 0.5);
  border: 1px solid rgba(105, 102, 102, 0.404);
  border-radius: 5px;
  transition: all .3s ease;
}

.send_message:focus,
.send_message:active {  
  border: 1px solid rgba(65, 62, 62, 0.6);
  outline: none;
}

.btn_send {
  position: absolute;
  top: 50%;
  right: 0;
  width: 10%;
  height: 30px;
  border-radius: 15px;
  transform: translateY(-50%);
}